.search {
  height: 100vh;
}
.search-sidebar {
  width: 50%;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  float:left;
}

.search-box {
    position: static;
    overflow: initial;
    padding-bottom: 0;
    border-bottom: 1px solid #dce0e0;
    padding: 20px;
    background-color: #f2f2f2;
    h3 {
      font-size: 20px;
      margin-top: 0px;
    }
}

.search-map {
  width: 50%;
  height:100%;
  position: relative;
  float: right;
}

.search-results {
  margin: 20px;
}
.search-pagination {
  text-align: center;
}

.info-window {
  height: 240px;
  width: 280px;
}

.info-window a {
  text-decoration: none;
}

.info-content {
  display: flex;
  align-items: center;
}

.info-content h3 {
  font-size: 25px;
}

.info-content p {
  font-size: 15px;
}

.info-user {
  padding: 0 10px 0 10px;
}
