.user-photo {
  padding-top: 25px;
}

li {
  list-style: none;
}

#user-description {
  color: #999999;
}

#wrapper {
  height: 100vh;
  background-color: #F4F4F4;
  margin: 10px 0px;
}

h2 {
  margin-top: 20px;
}
