<div class="page-container" >
  <div class="row">
    <!-- DIV PRINCIPALE CENTREE -->
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">


  <!-- ROW Image + titre -->
      <div class="row">

      <!-- COL -IMAGE -->
        <div class="col-xs-12 col-sm-6">
          <img src="http://placehold.it/200x200" class="avatar-polaroid">
        </div>

      <!-- COL - TITRE + descr -->
        <div class="col-xs-12 col-sm-6">
        <!-- ROW TITRE -->
          <div class="row">
            <div class="col-xs-12">
              <h1><%= "#{@user.first_name} #{@user.last_name}"%> </h1>
            </div>
          </div>
        <!-- ROW more -->
          <div class="row">
            <div class="col-xs-12">
              <p><%= "Age : #{@user.age}" %></p>
              <p><%= "Gender : #{@user.gender}"%> </p>
            </div>
          </div>
        <!-- ROW descr -->
          <div class="row">
            <div class="col-xs-12">
              <div class="show-description">
                </br>
                <h2 class="text-center">More about me !</h2>
                <p><%= @user.description %></p>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>

    </div>
  </div>
</div>


