<div id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-content col-xs-12 col-sm-10 col-sm-offset-1">
          <ul class="list-inline">
            <li>
              <a href="#"><i class="fa fa-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
          </ul>
          <p>Made with fucking ♥ by (m)eat-me Team.</p>
        </div>
      </div>
    </div>
  </div>
</div>
