.wrapper-grey {
    background: #F4F4F4;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

.simple_form_for {
  padding-top: 30px;
  padding-bottom: 30px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: $light-gray;
}

#notice {
  margin: 0;
}
