.banner-background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.banner-content {
  color: white;
}

.banner-content h1 {
  font-size: 50px;
  font-weight: bold;
}

.banner-content p {
    font-size: 25px;
    font-weight: lighter;
    color: $gray;
    margin-bottom: 50px;
}

.btn-yours {
    color: #3B9AD8;
    border: #3B9AD8 1px solid;
    border-radius: 10px;
    padding: 13px 25px;
    transition: background-color 0.5s ease;
  }

.btn-yours:hover {
  font-weight: bold;
  color: white;
  border: white 1px solid;
}
